.footer{
  display: flex;
  flex-direction: row;
  flex: 1 1;
  gap: 15px;
  padding-left: 10px;
  align-items: center;
  color:rgb(37, 42, 52);
   position: fixed;
   width: 100%;
   height: 5%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(8, 217, 214);
}
.footer p{
  white-space: nowrap;
}
@media(max-width:450) {
  .footer{
    gap: 1px;
    height:5px;
  }
  .footer p{
  padding: 0 1px;
}
}
@media(max-width:450px){
}

.footer button{
  transition: 0.25s;
}
.footer button:active{
  background-color: rgb(255, 46, 99);
}

.nid{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media(max-width:450px){
  .nid p {
    font-size: small;
  }
}

