.fish{
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  border: 1px solid rgb(255, 46, 99);
  justify-self: center;
}
@media(max-width:344px){
  .fish{
    width: 300px;
    height: 300px;
  }
}
.fish-png{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.discount p{
  position: absolute;
  color: rgb(234, 234, 234);
  background-color:rgb(37, 42, 52);
  width: 35px;
  height: 20px;
  top: 2px;
  right: 2px;
  padding-left:10px;
  opacity: 0.7;
}

.about-fish{
  display: flex;
  flex-direction: column;
  flex: 1 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background-color: rgb(37, 42, 52);
  opacity:0;
  border-radius: 0 0 15px 15px;
  transition: opacity 0.25s;
}
.fish:hover .about-fish{
  opacity: 0.9;
}
.rating, .fishabout p{
  color: rgb(234, 234, 234);
  padding-left: 10px;
}

.price p{
  position: absolute;
  color: rgb(234, 234, 234);
  background-color:rgb(37, 42, 52);
  width: 35px;
  height: 20px;
  top: 2px;
  left: 2px;
  padding-left:10px; 
  opacity: 0.7;
}

.add-to{
  position: absolute;
  top: 50%;
  right: 2px;
  padding-left:10px;
  white-space: nowrap;
  opacity:0;
  transition: opacity 0.25s;
}
.fish:hover .add-to{
  opacity: 1;
}


.cart-button{
  border: none;
  background-color:rgb(37, 42, 52);
  color: rgb(234, 234, 234);
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
}
