body{
  margin: 0;
}
.header{
  display: flex;
  flex-direction: row;
  flex: 1 2 0;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(8, 217, 214);
  height:75px;
  width: 100%;
  gap: 5px;
  top: 0;
  z-index: 2;
}
.logo{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75px;
  width: 125px;
  padding-left: 10px;
}
.logo-tool{
  position: absolute;
  white-space: nowrap;
  top: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(37, 42, 52);
  color: rgb(234, 234, 234);
  padding: 0px 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  z-index: 2;
}
.logo:hover .logo-tool{
  opacity: 0.9;
}
.logo-svg{
  height: 75px;
  width: 125px;
}
.logo-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.search{
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 75px;
}
.text-input{
  min-width: 0;
  width: 100%;
  flex: 2;
  height: 50%;
  border-style: none;
  outline: none;
  padding-left: 10px;
  background-color: rgb(234, 234, 234);
  border-radius: 5px 0 0 5px;
}
.button-input{
  flex-shrink: 0;
  width: 15%;
  height: 53%;
  flex: 1;
  border-style: none;
  background-color: rgb(234, 234, 234);
  margin-left: -1px;
  cursor: pointer;
  border-radius:0 5px 5px 0;
  transition: 0.25s;
}
.button-input:active {
  background-color: rgb(255, 46, 99);
}
.button-input:active .button-svg{
  background-color: rgb(255, 46, 99);
}
@media(max-width:450px){
  .button-input{
    width: 70%;
  }
}
.button-svg{
  background-color: rgb(234, 234, 234);
  transition: 0.25s;
}
.head-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1;
  gap: 30px;
  padding-right: 10px;
  height: 75px;
  max-width: fit-content;
}
.cart{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-tool{
  position: absolute;
  white-space: nowrap;
  top: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(37, 42, 52);
  color: rgb(234, 234, 234);
  padding: 0px 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
  z-index: 2;
}
.cart:hover .cart-tool{
  opacity: 0.9;
}
.button-cart{
  background-color: transparent;
  border-style: none;
  padding: 0;
}
.cart-svg{
  width:25px;
  height: 71px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.login-re{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hb-login, .hb-register{
  background-color: transparent;
  border-style: none;
  padding: 0;
  cursor: pointer;
  color: rgb(37, 42, 52);
}
.cart-wrapper {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;

  background-color: red;
  color: white;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  font-size: 12px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 12px;
  margin-top: 4px;
}
